/*
 * Roxy: Bootstrap template by GettTemplates.com
 * https://gettemplates.co/roxy
 */
html, body {
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Work Sans', sans-serif;
  margin-top: 0; }

a {
  color: #ff00cc;
  transition: all .3s ease-in-out; }

a:focus,
button:focus {
  outline: none; }

.btn:hover,
a:hover {
  text-decoration: none;
  color: #333399; }

.bg-fixed {
  background-size: cover; }

.bg-grey {
  background-color: #f7f8f9; }

.fs-40 {
  font-size: 40px; }

section {
  position: relative; }

.section-content {
  padding-top: 30px;
  padding-bottom: 20px; }

.title-wrap,
.section-title {
  text-align: center; }

/* .shadow {
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24), 0 2px 4px 0 rgba(67, 80, 98, 0.1) !important; } */

.navbar-brand {
  font-size: 40px;
  color: #000; }

.navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
  transition: .3s ease; }

.navbar-nav:hover li a {
  opacity: 0.5; }
  .navbar-nav:hover li a:hover {
    opacity: 1; }

.navbar-toggler {
  font-size: 2rem;
  color: #fff;
}

.incluir-frame iframe {
  display: block;
  margin: 20px auto 0 auto;
}

.yt-player {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: top 0.4s ease; /* Transition effect when sliding down (and up) */
}

.header-container {
  color: #fff;
  /* padding-top: 80px;
  padding-bottom: 40px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  width: 100%;
  height: 95px;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;

  background: #ff00cc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 11;
  transition: top 0.4s ease; /* Transition effect when sliding down (and up) */
}

#eventos-hoje-container {
  padding-top: 125px;
}

.yt-player.active + #eventos-hoje-container {
  padding-top: 10px;
}

.header-container .container {
  z-index: 1;
}

.header-container .navbar-brand {
  z-index: 1;
  /* border: 3px solid #fff; */
  font-size: 3rem;

  opacity: 0;
  animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: .8s;
}

.navbar-brand img {
  width: 150px;
}

.icones-evento {
  margin: 1px;
}

.icones-evento a.icone {
  display: inline;
}

.icones-evento span.icon {
  font-size: 25px;
  display: inline;
}

.notification-toggle button.notification-button {
  display: none;
}


.icones-evento span.icon-share {
  font-size: 20px;
  opacity: 0.9;
  display: inline;
  padding-left: 5px;
}

/* .icone {
  padding-right: 15px !important;
} */

.input-group-busca {
  max-width: 300px;
  position: relative;
}

.input-group-busca input.form-control {
  background: rgb(255, 255, 255,0.8);
  outline: none;
  border-radius: 50px !important;
}

button.button-clear {
  background: initial;
  border: none;
  color: #ff00cc;
  padding: 0;
}

.yt-close-button {
  float: right;
  margin-top: -7px;
  background: #000;
  border: none;
  cursor: pointer;
  color: #fff;
}

.button-clear-search {
  background: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.search-icon {
  position: absolute;
  right: 2rem;
}

.menu-botoes a {
  color: #fff;
  font-weight: 500;
}
.busca-nao-encontrada {
  text-align: center;
}

footer {
  border-top: 1px solid lightgray;
}

footer span.icon-instagram {
  font-size: 32px;
  vertical-align: bottom;
}

.col-center {
  margin: 0 auto;
}

.overlay {
  color: #fff; }
  .overlay:before {
    position: absolute;
    display: block;
    content: "";
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff00cc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .overlay.bg-white {
    color: #000; }
    .overlay.bg-white:before {
      background: #fff;
      opacity: .7; }
  .overlay .notification-button {
    display: inline-block;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #793ace
  }

.text-white {
  color: #fff; }

/*==============================
=            BUTTON            =
==============================*/
.btn {
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  padding: 7px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s; }

.btn-primary {
  display: inline-block;
  background-color: #793ace;
  border-color: #793ace;
  color: #fff; }
  .btn-primary:hover {
    background-color: #ff00cc;
    border-color: #ff00cc;
    color: #fff; }
  .btn-primary:active {
    background-color: #ff00cc !important;
    border-color: #ff00cc !important;
    color: #fff !important; }   

.btn-play-active {
  background-color: #ff00cc !important;
  border-color: #ff00cc !important;
  color: #fff !important;
}    

.btn-outline-primary {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff; }
  .btn-outline-primary:hover {
    background-color: #333399;
    border-color: #333399;
    color: #fff; }

.btn-secondary {
  color: inherit;
  border-color: initial;
  background: none;
}
.btn-secondary:hover {
  background-color: #ff00cc;
  border-color: #ff00cc;
  color: #fff; }

.btn-shadow {
  box-shadow: -5px 8px 20px 0px rgba(229, 16, 2, 0.15); }

.btn-icon {
  color: #000; }

.btn-link {
  color: #ff00cc; }

.btn-active-push {
  background-color: #ff00cc !important;
  border-color: #ff00cc !important;
  color: #fff !important;
}  

/*=====  End of BUTTON  ======*/
/*==========================================
=            FORM RECTANGLE ETC            =
==========================================*/
.rectangle-1 {
  width: 2000px;
  height: 400px;
  background: #8E2DE2;
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  transform-origin: 50% 150% 0;
  position: absolute;
  left: 0;
  z-index: 0;
  transform: scale(1) rotate(-10deg); }

.rectangle-2 {
  width: 2000px;
  height: 400px;
  background: #8E2DE2;
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
  transform-origin: 65% 100% 0;
  position: absolute;
  right: 0;
  z-index: 0;
  transform: scale(1) rotate(50deg); }

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-100vw) rotate(-15deg); }
  to {
    opacity: 1;
    transform: translateX(0) rotate(-15deg); } }

@keyframes grow1 {
  from {
    opacity: 0;
    transform: scale(2) rotate(-10deg); }
  to {
    opacity: 1;
    transform: scale(1) rotate(-10deg); } }

@keyframes grow2 {
  from {
    opacity: 0;
    transform: scale(2) rotate(50deg); }
  to {
    opacity: 1;
    transform: scale(1) rotate(50deg); } }

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.rectangle-1 {
  opacity: 0;
  animation: grow1 ease 1s forwards;
  box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important; }

.rectangle-2 {
  opacity: 0;
  animation: grow2 ease 1s forwards;
  box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important; }

.rectangle-transparent-1 {
  width: 500px;
  height: 500px;
  border: 15px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  left: -5%;
  bottom: -10%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite; }

.rectangle-transparent-2 {
  width: 600px;
  height: 600px;
  border: 15px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  right: -10%;
  top: 5%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite; }

.circle-1 {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 50%;
  left: 5%;
  top: 50%;
  animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite; }

.circle-2 {
  width: 70px;
  height: 70px;
  top: 20%;
  left: 83%;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 50%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite; }

.circle-3 {
  top: 80%;
  right: 25%;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite; }

@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(25deg); }
  25% {
    transform: translate(5%, 15%) rotate(25deg); }
  50% {
    transform: translate(10%, 5%) rotate(25deg); }
  75% {
    transform: translate(0%, 15%) rotate(25deg); }
  100% {
    transform: translate(0%, 0%) rotate(25deg); } }

@keyframes floating-slow {
  0% {
    transform: translate(0%, 0%) rotate(25deg); }
  25% {
    transform: translate(1%, 3%) rotate(25deg); }
  50% {
    transform: translate(2%, 1%) rotate(25deg); }
  75% {
    transform: translate(0%, 3%) rotate(25deg); }
  100% {
    transform: translate(0%, 0%) rotate(25deg); } }

.triangle {
  position: absolute; }

.triangle-1 {
  right: 0;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 6s infinite; }
  .triangle-1 img {
    height: 50px;
    width: 50px;
    transform: rotate(30deg); }

.triangle-2 {
  top: 15%;
  left: 10%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 8s infinite; }
  .triangle-2 img {
    width: 75px;
    height: 75px;
    transform: rotate(15deg); }

.triangle-3 {
  top: 75%;
  left: 15%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 10s infinite; }
  .triangle-3 img {
    width: 45px;
    height: 45px;
    transform: rotate(40deg); }

.triangle-4 {
  top: 60%;
  right: 15%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite; }
  .triangle-4 img {
    width: 45px;
    height: 45px;
    transform: rotate(-40deg); }

/*=====  End of FORM RECTANGLE ETC  ======*/
/*=============================
=            TESTI            =
=============================*/

.testi-img span.icon-calendar {
  font-size: 20px;
  vertical-align: middle;
  line-height: 1.8;
}

.testi-img span.icon-youtube, .testi-img span.icon-instagram, .testi-img span.icon-asterisk, .testi-img span.icon-play-circle {
  font-size: 40px;
  vertical-align: bottom;
}

.testi-img img {
  height: 60px;
  width: 60px !important;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block !important; }

.dia-box .testi-img img {
  height: 40px;
  width: 40px !important;
  object-fit: cover;
}

.dia-box .testi-meta-inner {
  min-height: 0;
}

.destaque-box {
  margin: 0 auto 30px auto;
  padding: 20px 10px 5px 10px;
}

.testi-details {
  text-align: left; }

.testi-destaque {
  font-weight: bolder;
  font-size: 26px;
}

.badge-live {
  color: #fff;
  background-color: #7728e3;
  border: none;
  vertical-align: text-bottom;
}

.testi-details .badge-live {
  background-color: #6b6292;
}

.badge-live.jplist-selected{
  font-size: 20px;
}

.tags {
  scrollbar-width: none;
  text-align: center;
  height: 40px;
  padding: 10px 10px 0px 10px;
  position: sticky;
  bottom: 0;
  top: 90px;
  z-index: 10;
  white-space: nowrap;
  overflow-x: scroll;
  background: rgb(83,62,165);
  background: linear-gradient(0deg, rgba(83,62,165,1) 10%, rgba(255,255,255,0) 86%, rgba(255,255,255,0) 100%);
  transition: bottom 0.4s ease; /* Transition effect when sliding down (and up) */
}

.tags::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.tags {
  -ms-overflow-style: none;
}

.tags button {
  font-size: 15px;
  display: inline;
}

.testi-text {
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 50px; }

.testi-info {
  font-weight: 100;
  font-style: italic;
}

.testi-icon {
  color: #ff00cc; }

.testi-content {
  width: 100%;
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
}

a.link-no-decoration {
  color: inherit;
}

.testi-item {
  min-width: 350px;
  position: relative;
  padding-bottom: 10px;
}

.dia-box .testi-item {
  min-width: 300px;
}

.testi-meta-inner {
  min-height: 175px;
}

.tns-nav {
  text-align: center;
  margin: 10px 0;
}  

.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  border: 0;

  background-color: rgba(255, 0, 204, 0.3);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
}

.tns-nav > [aria-controls].tns-nav-active {
  background-color: transparent;
  box-shadow: 0 0 0 2px #ff00cc; }

.heading-section {
  position: relative; }

/*=====  End of TESTI  ======*/
/*===============================
=            SideNav            =
===============================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #fff; }

.sidenav-content {
  padding: 8px 32px;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.in .sidenav-content {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s, opacity 0.5s 0.5s; }

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }



.progress-bar, .progress {
  transition: all 4s; }

/*=====  End of SKILLS  ======*/
/*====================================
=            FORM CONTROL            =
====================================*/
.form-control:focus {
  border-color: #ff00cc;
  box-shadow: 0 0 0 0.2rem rgba(253, 101, 90, 0.25); }

.form-control::-webkit-input-placeholder {
  opacity: .5; }

.form-control::-moz-placeholder {
  opacity: .5; }

.form-control:-ms-input-placeholder {
  opacity: .5; }

.form-control::-ms-input-placeholder {
  opacity: .5; }

.form-control::placeholder {
  opacity: .5; }

/*=====  End of FORM CONTROL  ======*/
/*==================================
=            RESPONSIVE            =
==================================*/
@media (max-width: 992px) {

  .testi-item {
    min-width: 300px;
  }


}

@media (max-width: 768px) {

  
  .testi-content {
    flex-wrap: nowrap;
  }

  .testi-content hr {
    display: none;
  }
  

  .sm-container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .no-gutters-sm {
    margin-right: 0;
    margin-left: 0;
  }
  
  .no-gutters-sm > .col,
  .no-gutters-sm > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
  }

  .header-container {
    height: 70px;
  }

  .tags {
    top: 65px
  }
    
  .testi-meta-inner {
    min-height: 0;
  }

  #eventos-hoje-container {
    padding-top: 100px;
  }

  .navbar-brand img {
    width: 100px;
  }
  

  /* #header-navbar {
    padding-top: 15px !important;
    padding-bottom: 15px !important; } */
  .navbar-transparent .navbar-collapse {
    background: #ff00cc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px; } }


/*=====  End of RESPONSIVE  ======*/
