@import model.Evento

@(evento: Evento, full: Boolean = false, agora: Boolean = false, tags: Seq[(String, String)])

@colorByTag(tag: String) = {@tags.find(t => t._1 == tag).map(_._2).getOrElse("#f103c9")}

<div class="col-xl-4 col-md-6 testi-item" data-jplist-item>
  <div class="testi-meta-inner d-flex" collapse-control="@evento.generatedId" data-control="@evento.data.toLocalDate">
    <div class="testi-img mr-2">
      @if(evento.thumbnailUrl.isDefined) {
      <img class="thumbnail" src='@evento.thumbnailUrl.get'>
      } else {
      <img class="thumbnail" src='@routes.Assets.versioned("img/microfone.jpg")'>
      }
    </div>
    <div class="testi-details">
      <p class="testi-destaque mb-0 searchable">
        @evento.nome
        @if(evento.destaque) {
        <span class="icon-star"></span>
        }
        @if(evento.encerrado.getOrElse(false)){
        <i>(Encerrado)</i>
        }

      </p>
      <p class="testi-info mb-0 searchable">
        <strong>@evento.horarioFmt</strong> @evento.info
      </p>
      @for(tag <- evento.tags){
        @if(tag == "Música"){
        <span class="badge badge-live @tag" hidden>@tag</span>
        } else {
        <span class="badge badge-live @tag" style='background-color: @colorByTag(tag)'>@tag</span>
        }
      }
      <div class="icones-evento">
        @if(evento.youtubeData.flatMap(_.embeddable).contains(true)){
        <button type="button" class="icone button-clear" onclick='playYoutubeVideoId("@evento.youtubeData.flatMap(_.videoId).get", "@evento.nome")'>
          <span class="icon icon-play-circle"></span>
        </button>
        }
        @if(evento.linkLive.isDefined) {
        <a class="icone" rel="nofollow" 
          href="@evento.linkLive.get" 
          ga-link-control="@evento.iconeLive" 
          ga-share-data="@evento.nome"
          target="_blank">
          <span class="icon @evento.iconeLive"></span>
        </a>
        }
        @if(evento.instagramProfile.isDefined && evento.instagramProfile != evento.linkLive)  {
        <a class="icone" 
          rel="nofollow" 
          href="@evento.instagramProfile.get" 
          ga-link-control="icon-instagram"
          ga-share-data="@evento.nome"
          target="_blank">
          <span class="icon icon-instagram"></span>
        </a>
        }
        <button type="button" class="button-clear" onclick='subscribeLive("@evento.id.get")'>
          <span class="icon icon-bell"></span>
        </button>
        <!-- <span class="icon-share icon-share-alt"></span> -->
        <span>
          <a class="link-no-decoration" 
            href='https://wa.me/?text=@evento.urlEncodedShare' 
            ga-share-control="whatsapp" 
            ga-share-data="@evento.nome"
            target="_blank">
            <span class="icon-share icon-whatsapp"></span>
          </a>
          <a class="link-no-decoration" 
            href='https://twitter.com/intent/tweet?text=@evento.urlEncodedShare' 
            ga-share-control="twitter" 
            ga-share-data="@evento.nome"
            target="_blank">
            <span class="icon-share icon-twitter"></span>
          </a>
          <a class="link-no-decoration" 
            href='https://www.facebook.com/sharer/sharer.php?u=livesdodia.com.br&quote=@evento.urlEncodedShareFacebook' 
            ga-share-control="facebook" 
            ga-share-data="@evento.nome"
            target="_blank">
            <span class="icon-share icon-facebook-square"></span>
          </a>
        </span>
      </div>
        
      
    </div>
  </div>
  <hr />
</div>