@import model.Evento
@import model.EventosDia

@(eventosAgora: Seq[Evento],
  demaisEventosHoje: Seq[Evento],
  eventosDia: Seq[EventosDia],
  atualizadoEm: String,
  jsonld: String,
  tags: Seq[(String, String)])


@*
*<!--@tagSelected(tag: String) = {@(tag.equals("Música") && eventosAgora.flatMap(_.tags).contains("Música"))}-->
*@

@tagSelected(tag: String) = {false}

@base {
  <script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;

    function hideElementsPlayVideo() {
      $('.rectangle-1').hide();
      $('.rectangle-2').hide();
      $('.rectangle-transparent-1').hide();
      $('.rectangle-transparent-2').hide();
      $('.header-container').css('background', 'transparent').removeClass('shadow');
      $('section').first().removeClass('maybe-first-section');
    }

    function showElementsPlayVideo() {
      $('.rectangle-1').show();
      $('.rectangle-2').show();
      $('.rectangle-transparent-1').show();
      $('.rectangle-transparent-2').show();
      $('.header-container').css('background', 'linear-gradient(to right, #333399, #ff00cc)').addClass('shadow');
      $('section').first().addClass('maybe-first-section');
      $('.btn-play-active').removeClass('btn-play-active');
    }

    function closeVideo() {
      showElementsPlayVideo();
      player.destroy();
      player = undefined;
      $(".yt-player").removeClass("active");
      ga('send', {
        hitType: 'event',
        eventCategory: 'Lives',
        eventAction: 'video-stop',
        eventAction: 'video-stop',
      });
    }

    function playYoutubeVideoId(videoId, nome, element) {
      $('.btn-play-active').removeClass('btn-play-active');
      $(element).addClass('btn-play-active');
      hideElementsPlayVideo();
      if (!player) {
        player = new YT.Player('player', {
        videoId: videoId,
        width: '100%',
        events: {
          'onReady': onPlayerReady
        }
      });
      } else {
        player.loadVideoById(videoId);
      }
      $(".yt-player").addClass("active");
      ga('send', {
        hitType: 'event',
        eventCategory: 'Lives',
        eventAction: 'video-play',
        eventLabel: nome
      });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
      event.target.playVideo();
    }

  </script>

  <div class="filtro-tag">

  </div>

  <div class="sidebar-wrapper">
    <!-- Sidebar -->
    <div id="sidebar" class="shadow">
      <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="sidebar-header text-center">
        <h3>Tags</h3>
      </div>
      <div class="tags">
        <button onclick="toggleSidebar()" type="button" data-jplist-control="buttons-text-filter" data-path=".badge" data-group="search-group"
                data-mode="radio" data-selected="true" data-text="" class="badge badge-live" data-name="buttons-text-filter">
          Todos
        </button>
        @for(tag <- tags) {
          <button type="button" onclick='toggleSidebar("@tag._1")'
                  data-jplist-control="buttons-text-filter" data-path=".badge-live" data-group="search-group"
                  data-mode="radio" data-text="@tag._1" class="badge badge-live" data-name="buttons-text-filter"
                  data-selected='@tagSelected(tag._1)'
                  style='background-color: @tag._2'
                  >
            @tag._1
            <span data-jplist-control="counter"
              data-group="search-group"
              data-format="({count})"
              data-path='.badge.@tag._1'
              data-mode="static"
              data-name="counter-@tag._1-filter"
              data-filter-type="path"></span>
          </button>
        }
      </div>
    </div>
    
    <!-- Dark Overlay element -->
    <div class="sidebar-overlay"></div>

    <div  class="yt-player">
      <div id="player"></div>
      <button type="button" class="yt-close-button" onclick="closeVideo()">
        <span class="icon-close"></span>
      </button>
    </div>

    <div id="eventos-hoje-container" class="notification-toggle">
      @eventosHoje(eventosAgora, demaisEventosHoje, tags)
    </div>
  </div>
  <section class="overlay bg-fixed" style='background-image: url(@routes.Assets.versioned("img/bg.jpg"));'>    
    <div class="container sm-container shadow destaque-box" data-aos="fade-up">
      <div class="position-relative">
        <div class="title-wrap w-100">
          <h2>Programação</h2>
        </div>
        
        <!-- Client Holder -->
        <div class="w-100 search-not-found-container notification-toggle">
          @buscaNaoEncontrada()
          <div>
            @for(item <- eventosDia){
            <div class="destaque-box dia-box">
              <div class="heading-section text-center">
                <h3 class="mb-4">
                  @item.diaFmt
                  @item.diaProgramacaoFmt
                </h3>
              </div>
              <div data-jplist-group="search-group" class="align-items-center justify-content-start no-gutters-sm search-not-found-container testi-content ">
                @for(evento <- item.eventos){
                  @displayEvento(evento, false, tags = tags)
                }
              </div>
            </div>
            }
          </div>
          <!-- End of Client Holder -->
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-white">
    <div class="container">
      <div class="section-content">
        <div class="title-wrap">
          <h2 class="section-title">
            Alguma live ainda <b>não está na nossa agenda?</b> Você pode cadastrar <a class="" href="/incluir">aqui</a>.
          </h2>
          <p class="section-sub-title">
            Valorize o artista, assista nos canais oficiais
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="pushModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Notificações - Beta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Estamos testando um novo recurso para te avisar quando sua live favorita começar!</p>
          <p>Basta aceitar as notificações e continuar marcando suas lives que iremos te lembrar na hora marcada.</p>
          <p>Ainda está em fase de testes, então qualquer problema favor entrar em contato.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick='subscribeLive()' data-dismiss="modal">ATIVAR</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Agora não</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="pushModalDenied" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Erro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>As notificações foram bloqueadas no seu navegador.</p>
          <p>Habilite este recurso para poder receber nossos avisos.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

}(Some(jsonld), true)