<!--@()-->

<!--@main("Welcome to Play") {-->
  <!--<h1>Welcome to Play!</h1>-->
<!--}-->

<!DOCTYPE html>
<html lang="en">

<head>
  <!--
   - Roxy: Bootstrap template by GettTemplates.com
   - https://gettemplates.co/roxy
  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Roxy by GetTemplates.co</title>
  <meta name="description" content="LIVES DO DIA">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- External CSS -->
  <link rel="stylesheet" href='@routes.Assets.versioned("vendor/bootstrap/bootstrap.min.css")'>
  <!--<link rel="stylesheet" href='@routes.Assets.versioned("vendor/select2/select2.min.css")'>-->
  <!--<link rel="stylesheet" href='@routes.Assets.versioned("vendor/owlcarousel/owl.carousel.min.css")'>-->
  <!--<link rel="stylesheet" href='@routes.Assets.versioned("vendor/lightcase/lightcase.css")'>-->
  <!--<link rel="stylesheet" href="https://unpkg.com/aos@@next/dist/aos.css" />-->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/style.min.css")'>
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout not-on-top">
<div class="header-container">
  <nav id="header-navbar" class="navbar navbar-expand py-4">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center text-white" href="/">
        <!-- <h3 class="font-weight-bolder mb-0">LIVES DO DIA</h3> -->
        <div class="text-center">
          <h1 class="">LIVES<br>DO DIA</h1>
        </div>

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
        <span class="lnr lnr-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-nav-header">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="incluir.html">Incluir evento</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  <!-- <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="triangle triangle-1">
    <img src='@routes.Assets.versioned("img/obj_triangle.png")' alt="">
  </div>
  <div class="triangle triangle-2">
    <img src='@routes.Assets.versioned("img/obj_triangle.png")' alt="">
  </div>
  <div class="triangle triangle-3">
    <img src='@routes.Assets.versioned("img/obj_triangle.png")' alt="">
  </div>
  <div class="triangle triangle-4">
    <img src='@routes.Assets.versioned("img/obj_triangle.png")' alt="">
  </div> -->
</div>


<!-- ACONTECENDO AGORA -->

<section id="testimonial" class="section-padding bg-white">
  <div class="container">
    <div class="section-content" data-aos="fade-up">
      <div class="heading-section text-center">
        <h2>
          Acontecendo agora!
        </h2>
      </div>
      <div class="row">
        <div class="testi-content">
          

          <div class="testi-item text-center">
            <div class="testi-meta-inner d-flex justify-content-center align-items-center">
              <div class="testi-img mr-2">
                <img src='@routes.Assets.versioned("img/testi-1.jpg")' alt="">
              </div>
              <div class="testi-details">
                <p class="testi-author mb-0 font-weight-bolder">Jorge e Matheus</p>
                <p class="testi-desc mb-0">18h</p>
              </div>
            </div>
          </div>

          <div class="testi-item text-center">
            <div class="testi-meta-inner d-flex justify-content-center align-items-center">
              <div class="testi-img mr-2">
                <img src='@routes.Assets.versioned("img/testi-1.jpg")' alt="">
              </div>
              <div class="testi-details">
                <p class="testi-author mb-0 font-weight-bolder">Jorge e Matheus</p>
                <p class="testi-desc mb-0">18h</p>
              </div>
            </div>
          </div>

          <div class="testi-item text-center">
            <div class="testi-meta-inner d-flex justify-content-center align-items-center">
              <div class="testi-img mr-2">
                <img src='@routes.Assets.versioned("img/testi-1.jpg")' alt="">
              </div>
              <div class="testi-details">
                <p class="testi-author mb-0 font-weight-bolder">Jorge e Matheus</p>
                <p class="testi-desc mb-0">18h</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FIM ACONTECENDO AGORA-->

<div class="jumbotron d-flex flex-column align-items-center">

  <div class="container text-center">
    <h1 class="display-1 mb-4">LIVES<br>DO DIA</h1>
  </div>
  <!-- <div class="rectangle-1"></div>
  <div class="rectangle-2"></div>
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="triangle triangle-1">
    <img src='@routes.Assets.versioned("img/obj_triangle.png")' alt="">
  </div>
  <div class="triangle triangle-2">
    <img src='@routes.Assets.versioned("img/obj_triangle.png")' alt="">
  </div>
  <div class="triangle triangle-3">
    <img src='@routes.Assets.versioned("img/obj_triangle.png")' alt="">
  </div>
  <div class="triangle triangle-4">
    <img src='@routes.Assets.versioned("img/obj_triangle.png")' alt="">
  </div> -->
</div>

<section id="testimonial" class="section-padding bg-fixed bg-white">
  <div class="container">
    <div class="section-content" data-aos="fade-up">
      <div class="heading-section text-center">
        <h2>
          Ainda hoje
        </h2>
      </div>
      <div class="row">
        <div class="testi-content">
          

          <div class="testi-item text-center">
            <div class="testi-meta-inner d-flex justify-content-center align-items-center">
              <div class="testi-img mr-2">
                <img src='@routes.Assets.versioned("img/testi-1.jpg")' alt="">
              </div>
              <div class="testi-details">
                <p class="testi-author mb-0 font-weight-bolder">Jorge e Matheus</p>
                <p class="testi-desc mb-0">18h</p>
              </div>
            </div>
          </div>

          <div class="testi-item text-center">
            <div class="testi-meta-inner d-flex justify-content-center align-items-center">
              <div class="testi-img mr-2">
                <img src='@routes.Assets.versioned("img/testi-1.jpg")' alt="">
              </div>
              <div class="testi-details">
                <p class="testi-author mb-0 font-weight-bolder">Jorge e Matheus</p>
                <p class="testi-desc mb-0">18h</p>
              </div>
            </div>
          </div>

          <div class="testi-item text-center">
            <div class="testi-meta-inner d-flex justify-content-center align-items-center">
              <div class="testi-img mr-2">
                <img src='@routes.Assets.versioned("img/testi-1.jpg")' alt="">
              </div>
              <div class="testi-details">
                <p class="testi-author mb-0 font-weight-bolder">Jorge e Matheus</p>
                <p class="testi-desc mb-0">18h</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Testimonial Section-->

<!-- RODAPÉ -->
<footer class="my-3">
  <div class="inner container">
    <div class="row">      
      <div class="col-lg-4 col-md-12 d-flex align-items-center">
      </div>
      
      <div class="col-lg-4 col-md-12 d-flex align-items-center">
        <p class="mx-auto text-center mb-0">&copy; 2020 Lives do Dia</p>
        <a class="nav-link" href="https://instagram.com/livesdodiaoficial" target="obj_triangle">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <div class="col-lg-4 col-md-12 d-flex align-items-center">
      </div>
    </div>
  </div>
</footer>	

<!-- External JS -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<!--<script src='@routes.Assets.versioned("vendor/bootstrap/popper.min.js")'></script>-->
<script src='@routes.Assets.versioned("vendor/bootstrap/bootstrap.min.js")'></script>
<!--<script src='@routes.Assets.versioned("vendor/select2/select2.min.js")'></script>-->
<!--<script src='@routes.Assets.versioned("vendor/owlcarousel/owl.carousel.min.js")'></script>-->
<!--<script src='@routes.Assets.versioned("vendor/stellar/jquery.stellar.js")' type="text/javascript" charset="utf-8"></script>-->
<!--<script src='@routes.Assets.versioned("vendor/isotope/isotope.min.js")'></script>-->
<!--<script src='@routes.Assets.versioned("vendor/lightcase/lightcase.js")'></script>-->
<!--<script src='@routes.Assets.versioned("vendor/waypoints/waypoint.min.js")'></script>-->
<!--<script src="https://unpkg.com/aos@@next/dist/aos.js"></script>-->

<!-- Main JS -->
<!-- <script src='@routes.Assets.versioned("js/app.min.js")'></script> -->
<!--<script src="//localhost:35729/livereload.js"></script>-->
</body>
</html>
