@import model.Evento
@import model.EventosDia

@(eventosAgora: Seq[Evento], eventosHoje: Seq[Evento], eventosDia: Seq[EventosDia], atualizadoEm: String)

@displayEvento(evento: Evento, full: Boolean = false) = {
<div class="testi-item text-center">
  <div class="testi-meta-inner d-flex align-items-center">
    <div class="testi-img mr-2">
      <i class="far fa-calendar-alt"></i>
      <!-- @if(evento.linkImagem.isDefined && evento.linkImagem.get.nonEmpty) {
        <img src='@evento.linkImagem.get' alt="">
      } else {
        <img src='@routes.Assets.versioned("img/microphone.svg")' alt="">
      } -->
    </div>
    <div class="testi-details">
      <p class="testi-author mb-0">@evento.nome</p>
      @if(evento.info.nonEmpty) {
      <p class="testi-info mb-0">
        @evento.info
      </p>
      }
      <p class="testi-desc mb-0">
        @evento.horarioFmt
        &nbsp;
        @if(full && evento.linkYoutube.isDefined && evento.linkYoutube.get.nonEmpty){
        <a class="icone" href="@evento.linkYoutube.get" target="_blank">
          <i class="fab fa-youtube"></i>
          Youtube
        </a>
        }

        @if(full && evento.linkInstagram.isDefined && evento.linkInstagram.get.nonEmpty){
          <a class="icone" href="@evento.linkInstagram.get" target="_blank">
            <i class="fab fa-instagram"></i>
            Instagram
          </a>
        }
      </p>
    </div>
  </div>
</div>
}

@tituloHoje() = {
  @if(eventosAgora.nonEmpty) {
    Outros hoje
  } else {
    Hoje
  }
}

@base {

  <!-- ACONTECENDO AGORA -->
  @if(eventosAgora.nonEmpty) {
  <section class="section-padding bg-white">
    <div class="container">
      <div class="section-content shadow destaque-box" data-aos="fade-up">
        <div class="heading-section text-center">
          <h2>
            Acontecendo agora!
          </h2>
        </div>
        <div class="row">
          <div class="testi-content">
            @for(evento <- eventosAgora) {
              @displayEvento(evento, true)
            }
            
          </div>
        </div>
      </div>
    </div>
  </section>
  }
  <!-- FIM ACONTECENDO AGORA-->

  @if(eventosHoje.nonEmpty) {
  <section class="section-padding bg-fixed bg-white">
    <div class="container">
      <div class="section-content shadow destaque-box" data-aos="fade-up">
        <div class="heading-section text-center">
          <h2>
            @tituloHoje()
          </h2>
        </div>
        <div class="row">
          <div class="testi-content">

            @for(evento <- eventosHoje) {
              @displayEvento(evento, true)
            }

          </div>
        </div>
      </div>
    </div>
  </section>
  }

  <section id="client" class="overlay bg-fixed" style='background-image: url(@routes.Assets.versioned("img/bg.jpg"));'>
    <div class="container">
      <div class="section-content" data-aos="fade-up">
        <div class="row ">
          <div class="col-md-12">
            <div class="title-wrap mb-5">
              <h2>Programação</h2>
            </div>
          </div>
          <!-- Client Holder -->
          <div class="col-md-12 client-holder">
            <div class="client-slider owl-carousel">
              @for(item <- eventosDia){
              <div class="p-3 shadow dia-box">
                <div class="heading-section text-center">
                  <p>@item.diaProgramacaoFmt</p>
                  <h2 class="mb-4">
                    @item.diaFmt
                  </h2>
                </div>
                @for(evento <- item.eventos){
                  @displayEvento(evento)
                }
              </div>
              }

            </div>
            <!-- End of Client Holder -->
          </div>
        </div>
      </div>
    </div>
  </section>
}